form {
    width: 500px;
    overflow: hidden;
    text-align: center;
    margin: auto;
    border: 3px solid black;
    padding: 10px;
}
input {
    width: 100%;
}
span {
    display: block;
    overflow: hidden;
    padding-right:10px;
}
